blinker
certifi
charset-normalizer
click
colorama
docopt
flask
flask-sqlalchemy
greenlet
gunicorn
idna
itsdangerous
jinja2
markupsafe
numpy
packaging
pipreqs
requests
setuptools
sqlalchemy
typing_extensions
urllib3
werkzeug
wheel
yarg
joblib
